<div class="row">
  <div class="col-md-10">
    <app-clients></app-clients>
  </div>
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
    <br>
    <br>
          <footer style="padding-left: 18px; padding-top: 20px">
             <span class="created-by"> Created with ♥ by
              <b>
                <a href="http://byrodney.com" target="_blank">Rodney | </a>
              </b> 
              <a href="#" target="_blank" class="fa fa-github"></a>
              <a href="#" target="_blank" class="fa fa-linkedin"></a></span>
          </footer>
</div>


